name: tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_call: {}

jobs:
  pest:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['8.3', '8.4']
        stability: ['prefer-stable']
    name: PHP ${{ matrix.php }}
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none
          extensions: mbstring, dom, curl, zip, intl, gd, bcmath, sodium, pdo, sqlite3, pdo_sqlite
          ini-values: memory_limit=-1
      - uses: actions/cache@v4
        with:
          path: ~/.composer/cache/files
          key: ${{ runner.os }}-composer-${{ matrix.php }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-${{ matrix.php }}-
            ${{ runner.os }}-composer-
      - run: composer validate --strict
      - run: composer update --${{ matrix.stability }} --no-interaction --prefer-dist --no-progress
      - run: vendor/bin/pest -q
